gen
publish
.idea/
.gradle/
keystore.properties
local.properties
warnings*.txt
build/
dist/
*.db
*.db-journal
*.iml
*.keystore
*.xls
*.xlsx
*.pdf
*.doc
*.docx
*.pyc
*.zip
__pycache__
揚州同音字表*.tsv
*.cxx
info.html
sim.html